In [1]:
import numpy as np  # linear algebra
import pandas as pd  # data management (dataframes)
import matplotlib.pyplot as plt  # plotting
import seaborn as sns  # plotting
from scipy import stats # basic statistics
from sklearn.linear_model import LinearRegression
from sklearn.utils import resample  # allows implementing bootstrap
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.tree import DecisionTreeRegressor, plot_tree
from sklearn.ensemble import BaggingRegressor
from sklearn.pipeline import Pipeline
from sklearn.ensemble import AdaBoostRegressor, GradientBoostingRegressor

In [2]:
irradiacion = pd.read_csv('./data/G07A_DATOS_IRRAD.csv')

# parseamos la fecha (cadena) para que sea un datetime con formato yyyy/mm/dd
irradiacion['FECHA'] = pd.to_datetime(irradiacion['FECHA'], format='%Y-%m-%d')

s = irradiacion.loc[:,'FECHA']
irradiacion['FECHA'] =  s.dt.date

irradiacion

,FECHA,IRRADH00,IRRADH03,IRRADH06,IRRADH09,IRRADH12,IRRADH15,IRRADH18,IRRADH21,ANNO,MES,DIA,DIASEM
0,2015-01-01,0.0,0.0,0.0,414536.220,1193085.200,481816.380,0.0,0.0,2015,1,1,3
1,2015-01-02,0.0,0.0,0.0,319990.200,926238.100,182854.100,0.0,0.0,2015,1,2,4
2,2015-01-03,0.0,0.0,0.0,403464.620,1146347.200,360073.940,0.0,0.0,2015,1,3,5
3,2015-01-04,0.0,0.0,0.0,349597.030,1016177.060,315783.620,0.0,0.0,2015,1,4,6
4,2015-01-05,0.0,0.0,0.0,408705.380,1090662.900,532075.100,0.0,0.0,2015,1,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,2020-12-27,0.0,0.0,0.0,263007.300,786889.300,327372.940,0.0,0.0,2020,12,27,6
2188,2020-12-28,0.0,0.0,0.0,187424.340,541136.750,232021.420,0.0,0.0,2020,12,28,0
2189,2020-12-29,0.0,0.0,0.0,215952.160,824590.900,253346.940,0.0,0.0,2020,12,29,1
2190,2020-12-30,0.0,0.0,0.0,147171.420,228807.360,236625.100,0.0,0.0,2020,12,30,2
2191,2020-12-31,0.0,0.0,0.0,32165.098,75464.914,10270.279,0.0,0.0,2020,12,31,3

In [3]:
utilizacion = pd.read_csv('./data/G07A_DATOS_UTIL.csv')

# parseamos la fecha (cadena) para que sea un datetime con formato yyyy/mm/dd
utilizacion['FECHA'] = pd.to_datetime(utilizacion['FECHA'], format='%Y-%m-%d')

s = utilizacion.loc[:,'FECHA']
utilizacion['FECHA'] =  s.dt.date

utilizacion

,FECHA,UTILH00,UTILH03,UTILH06,UTILH09,UTILH12,UTILH15,UTILH18,UTILH21,ANNO,MES,DIA,DIASEM
0,2015-01-01,0.0,0.0,0.027848,0.235443,0.263291,0.039241,0.0,0.0,2015,1,1,3
1,2015-01-02,0.0,0.0,0.027848,0.181857,0.205063,0.024051,0.0,0.0,2015,1,2,4
2,2015-01-03,0.0,0.0,0.029536,0.237975,0.235865,0.036287,0.0,0.0,2015,1,3,5
3,2015-01-04,0.0,0.0,0.029114,0.196203,0.210970,0.026160,0.0,0.0,2015,1,4,6
4,2015-01-05,0.0,0.0,0.028270,0.205485,0.228270,0.036287,0.0,0.0,2015,1,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,2020-12-27,0.0,0.0,0.001658,0.028192,0.074212,0.005804,0.0,0.0,2020,12,27,6
2188,2020-12-28,0.0,0.0,0.001658,0.039386,0.065091,0.003317,0.0,0.0,2020,12,28,0
2189,2020-12-29,0.0,0.0,0.002073,0.039386,0.076700,0.006633,0.0,0.0,2020,12,29,1
2190,2020-12-30,0.0,0.0,0.001658,0.046020,0.073383,0.024461,0.0,0.0,2020,12,30,2
2191,2020-12-31,0.0,0.0,0.002902,0.011194,0.024876,0.001244,0.0,0.0,2020,12,31,3

# EDA: Exploratory Data Analysis

In [4]:
# Verifico que no haya datos nulos en el dataset de irradiacion
irradiacion.isnull().values.any()

False

In [5]:
# Verifico que no haya datos nulos en el dataset de utilizacion
utilizacion.isnull().values.any()

False